@CHARSET "UTF-8";
.navbar {
	background-color: #337ab7;
	height: 60px;
}

.navbar-brand {
	font-size: 28px;
	color: #fff;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus,
	.navbar-default .navbar-brand:hover, .navbar-default .navbar-text,
	.navbar-default .navbar-link, .navbar-default .navbar-nav>li>a {
	color: #fff;
}

a:focus {
	outline: thin none;
}

.btn-default {
	height: 34px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	background-color: #337ab7;
	border-width: 0;
}